@import "tailwindcss";

:root {
  --background: #09090B;
  --foreground: #ffffff;
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
